.navbar{
    position:absolute;
    left:auto;
    right: 40px;
    top:100px;
    display: inline-flex;
    z-index: 10;
}
.newsflash{
    background-color: orange;
    color:white;
    font-size:18px;
    font-weight:bold;
    position:absolute;
    text-align:center;
    top:0px;
    height:40px;
    padding-top:20px;
    width:100%;
}
.shaping{
    color:white;
    position:absolute;
    top:50vh;
    font-size:60px;
    text-align:center;
    width:100%;
}
.ribbon1{
    padding: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:#1178b8;
    text-align:center;
    font-size:30px;
    font-weight: bold;
}.ribbon2{
    background-color: #1178b8;
    padding: 10px 100px 10px 100px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:white;
    text-align:center;
    font-size:20px;
    /* font-weight: bold; */
}
.ribbon_images img{
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    -moz-filter:    grayscale(100%);
    -ms-filter:     grayscale(100%);
    -o-filter:      grayscale(100%);
    margin:10px;
    width:100px
}
.ribbon2 h3, .box1 h3{
    font-size:24px
}
.box1container{
    position:relative
}
.box1{
    background-color: #1178b8;
    border-radius: 10px;
    color:white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    left:auto;
    padding:15px;
    right:100px;
    width:40%;
    position:absolute;
    top:100px;
    padding-bottom:40px
}
.box1 button, .box2 button{
    padding:10px;
    background-color: orange;
    border-radius:45px;
    color:white;
    font-size:20px;
    font-weight: bold;
    left:auto;
    right:20px;
    top:130px;
    position:inherit;
}
.box2{
    background-color: #1178b8;
    border-radius: 10px;
    color:white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    left:100px;
    padding:15px;
    width:35%;
    position:absolute;
    top:700px;
    padding-bottom:40px
}
.card{
    background-color:#eee;
    width:40%;
    margin:10px;
}
.item{
    color:white;
    margin:40px;
    font-size:30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body{
    padding:0px;
    margin:0px;
}
.cls-60 {mask: url(#mask-5);}
.cls-61 {fill: url(#linear-gradient-46);}
.cls-62 {mask: url(#mask-6);}

.cls-72{
    animation: animate 10s linear infinite
}
.cls-124 {fill: url(#linear-gradient-90);}
.cls-126 {fill: #fff;}
.cls-127 {mask: url(#mask-22);}
}
.cls-154 { fill: #c9feff;}
.cls-158 { mask: url(#mask-32);}
.cls-172, .cls-41 {
    fill: #ffffff;
}
.cls-176 {
    opacity: 0.77;
    mix-blend-mode: color-dodge;
}
#splash1{
    animation: changeSplash 4s linear infinite;
    opacity: 0.4;
}
@keyframes changeSplash{
    0% {
        opacity:0.6;
        d:path("M758.88 907.73C758.72 908.73 756.95 907.67 757.94 909.73C765.47 911.12 773.839 906.67 780.349 904.97C779.349 905.72 778.139 906.88 777.349 907.51C785.029 909.76 792.86 904.43 799.57 901.12C798.51 902.46 797.62 904.25 796.71 905.45C803.71 905.08 810.61 901.01 817.21 898.45C814.76 899.8 812.549 902.94 810.789 904.38C818.789 905.99 828.489 900.86 835.169 896.85C826.599 903.17 808.939 917.65 797.909 916.25C798.599 914.43 798.26 913.88 799.52 912.02C791.473 915.695 782.95 918.22 774.2 919.52C773.672 918.958 773.36 918.229 773.32 917.46C774.32 916.29 774.87 915.33 775.75 914.15C768.86 916.67 759.47 920.15 752.52 918.35C753.38 917.35 754.52 915.48 755.52 914.45C750.9 915.83 745.52 917.59 740.52 915.11C742.42 903.7 761.86 904.38 770.43 901.17C767 903.53 763.429 905.54 760.289 908.09C780.939 899.81 780.42 897.64 758.88 907.73Z");
    }
    50% {
        opacity:1;
        d:path("M758.88 907.73C758.72 908.73 756.95 907.67 757.94 909.73C765.47 911.12 773.839 906.67 780.349 904.97C779.349 905.72 778.139 906.88 777.349 907.51C770.43 916.63 792.86 904.43 799.57 901.12C798.51 902.46 797.62 904.25 796.71 905.45C778.274 920.943 810.61 901.01 817.21 898.45C814.76 899.8 812.549 902.94 810.789 904.38C799.57 917 828.489 900.86 835.169 896.85C826.599 903.17 793.03 925.9 782 924.5C767.987 921.5 790.24 917.194 791.5 915.334C783.454 919.009 778.25 921.7 769.5 923C768.973 922.439 763.68 919.375 773 915.334C774 914.164 770.62 917.218 771.5 916.038C764.61 918.558 756.95 926.3 750 924.5C746 923.464 748 919.03 749 918C744.38 919.38 738.5 923.98 733.5 921.5C735.4 910.09 761.86 904.38 770.43 901.17C767 903.53 761.08 905.796 757.94 908.346C778.59 900.066 780.42 897.64 758.88 907.73Z");
    }
    100% {
        opacity:0.6;
        d:path("M758.88 907.73C758.72 908.73 756.95 907.67 757.94 909.73C765.47 911.12 773.839 906.67 780.349 904.97C779.349 905.72 778.139 906.88 777.349 907.51C785.029 909.76 792.86 904.43 799.57 901.12C798.51 902.46 797.62 904.25 796.71 905.45C803.71 905.08 810.61 901.01 817.21 898.45C814.76 899.8 812.549 902.94 810.789 904.38C818.789 905.99 828.489 900.86 835.169 896.85C826.599 903.17 808.939 917.65 797.909 916.25C798.599 914.43 798.26 913.88 799.52 912.02C791.473 915.695 782.95 918.22 774.2 919.52C773.672 918.958 773.36 918.229 773.32 917.46C774.32 916.29 774.87 915.33 775.75 914.15C768.86 916.67 759.47 920.15 752.52 918.35C753.38 917.35 754.52 915.48 755.52 914.45C750.9 915.83 745.52 917.59 740.52 915.11C742.42 903.7 761.86 904.38 770.43 901.17C767 903.53 763.429 905.54 760.289 908.09C780.939 899.81 780.42 897.64 758.88 907.73Z");
    }
}
#splash2{
    animation: changeSplash2 10s linear infinite;
}

@keyframes changeSplash2{
    0%{
        opacity:0;
        d:path("M842.57 942.47C834.06 938.33 815.25 951.81 810.23 957.63C810.077 958.001 810.075 958.416 810.222 958.789C810.369 959.162 810.655 959.464 811.02 959.63C817.93 958.35 825.041 958.647 831.82 960.5C824.38 963.05 813.65 965.21 811.26 973.65C825.68 975.79 844.26 966.7 858.51 963.94C852.85 967.51 845.99 970.94 841.51 975.7C848.11 978.45 858.14 976.05 865.1 974.7C858.95 976.48 852.38 979.13 849.1 984.56C861.5 988.99 875.91 979.3 887.93 983.12C884.062 985.68 879.672 987.347 875.08 988C871.08 988.55 878.2 994.71 878.52 994.94C880.52 996.35 886.65 994.94 888.71 994.42C888.559 994.963 888.58 995.539 888.77 996.07C907.05 996.8 928.77 997.96 945.77 989.97C937.51 984.77 926.16 981.74 918.48 975.62C920.2 975.47 922.48 974.7 924.48 974.62C920.05 965.41 896.48 964.56 887.96 958.89C891.17 958.59 888.88 959.5 891.17 958.59C879.64 955.05 873.58 947.43 862.07 943.5C847.73 938.6 836.48 942.02 820.96 941.35");
        transform:translateY(0) scale(1,1)
    }
    4%{
        opacity:1
    }
    39%{
/*         opacity:0.4; */
        transform: translateY(50px) 

    }
    40%{
        d:path("M688.269 961.547C680.51 957.782 692.846 967.006 688.269 972.298C688.13 972.636 688.127 973.013 688.262 973.353C688.396 973.692 688.657 973.966 688.99 974.117C695.29 972.953 681.07 977.14 687.251 978.825C680.467 981.144 691.388 979.192 689.208 986.867C702.356 988.813 693.862 993.611 706.855 991.102C701.694 994.348 714.587 990.41 710.502 994.739C716.52 997.24 710.444 996.706 716.79 995.478C711.183 997.097 726.701 991.85 723.711 996.788C735.017 1000.82 727.808 1001.27 738.767 1004.74C735.24 1007.07 751.586 999.322 747.399 999.916C743.752 1000.42 750.244 1006.02 750.535 1006.23C752.359 1007.51 757.948 1006.23 759.827 1005.75C759.689 1006.25 759.708 1006.77 759.881 1007.25C776.549 1007.92 772.048 1012.01 787.548 1004.74C780.017 1000.01 810.963 998.525 803.96 992.959C805.529 992.823 790.618 987.821 792.441 987.749C788.402 979.373 780.768 977.455 773 972.298C775.927 972.026 757.739 965.328 759.827 964.5C749.314 961.281 746.031 963.023 735.536 959.449C722.461 954.993 712.204 958.103 698.053 957.494")
/*         transform: scale(0.5, 0.5); */
    }
    45%{
        opacity:0
    }
    100%{
        opacity:0
    }
}
#splash3{
    opacity: 1;
    animation: changeSplash3 5s linear infinite;
}
@keyframes changeSplash3{
    50%{
        d:path("M450.69 981.49C444.95 982.42 418.73 993.51 427.5 1003.09C435.56 1011.89 460.96 1002.76 469.21 1000.38C466.341 1003.85 453.793 1014.14 451.47 1018C456.57 1027.51 482.23 1016.45 489.25 1012.84C487.81 1014.66 487.25 1017.7 485.79 1019.6C487.79 1020.09 489.54 1022.33 492.64 1022.46C486.64 1034.23 474.74 1050.71 508.73 1038.52C523.62 1037.52 548.46 1023.41 560.13 1013.94C555.88 1019.27 529.27 1040.83 531.5 1046.72C535.04 1056.05 561.49 1045.08 567.08 1040.32C565.8 1041.87 549.17 1051.57 548 1053C552.83 1055.29 574.83 1045.38 579.7 1043.43C576.91 1046.05 577.05 1048.57 575.81 1050.71C592.31 1049.62 587.5 1053 624.81 1033.71C617.81 1036.37 597.57 1050.69 603.5 1057.5C611.61 1066.91 658.47 1047.69 667.59 1042.5C648.59 1051.13 626.08 1075.76 605 1079C593 1072.5 606.48 1064.12 607.81 1062.87C599.6 1067.67 583.01 1075.48 575.81 1066.98C577.9 1064.98 574.23 1062.33 576.94 1060.87C565.2 1065.52 514.63 1089.46 501.5 1085.5C489.98 1082.02 517.15 1060.36 527.78 1054.72C518.87 1057.37 511.39 1062.45 503.5 1057.5C499.069 1054.72 505.297 1049.31 510.91 1046.72C502.14 1050.38 458.94 1071.59 451.47 1062.87C446.26 1056.79 467.22 1039.27 474.74 1036.02C469.28 1037.35 456.89 1045.81 451.47 1045.43C450.11 1042.3 458.47 1037.49 458.38 1035.62C451.32 1038.77 404 1056.93 401 1042.5C399.27 1033.99 435.52 1014.59 441.01 1012.96C434.07 1015.02 401 1022.46 421.64 1003.09C393.5 1016.5 406 997.792 412.53 992.38C421.99 984.54 443.81 977.38 456.25 976.06C456.99 975.39 452.35 979.76 451.47 980.5C450.24 980.85 450.41 979.83 450.69 981.49Z")
    }
    0%{
        d:path("M450.69 981.49C444.95 982.42 424.44 996.49 433.21 1006.07C441.27 1014.87 460.96 1002.76 469.21 1000.38C466.341 1003.85 463.733 1007.52 461.41 1011.38C466.51 1020.89 482.23 1016.45 489.25 1012.84C487.81 1014.66 487.25 1017.7 485.79 1019.6C487.79 1020.09 489.54 1022.33 492.64 1022.46C486.64 1034.23 498.84 1039.15 508.73 1038.52C523.62 1037.52 548.46 1023.41 560.13 1013.94C555.88 1019.27 541.39 1035.56 543.62 1041.45C547.16 1050.78 561.49 1045.08 567.08 1040.32C565.8 1041.87 565 1044 563.83 1045.43C568.66 1047.72 574.83 1045.38 579.7 1043.43C576.91 1046.05 577.05 1048.57 575.81 1050.71C592.31 1049.62 609.81 1040.51 624.81 1033.71C617.81 1036.37 607.81 1046.1 613.74 1052.91C621.85 1062.32 658.47 1047.69 667.59 1042.5C648.59 1051.13 625.23 1063.74 604.15 1066.98C605.15 1065.98 606.48 1064.12 607.81 1062.87C599.6 1067.67 577.76 1076.37 570.56 1067.87C572.65 1065.87 574.23 1062.33 576.94 1060.87C565.2 1065.52 536.56 1076.59 523.43 1072.63C511.91 1069.15 517.15 1060.36 527.78 1054.72C518.87 1057.37 504.12 1062.67 496.23 1057.72C500.294 1053.06 505.297 1049.31 510.91 1046.72C502.14 1050.38 477.79 1060.22 470.32 1051.5C465.11 1045.42 467.22 1039.27 474.74 1036.02C469.28 1037.35 463.89 1039.08 458.47 1038.7C457.11 1035.57 458.47 1037.49 458.38 1035.62C451.32 1038.77 420.38 1048.11 417.38 1033.68C415.65 1025.17 435.52 1014.59 441.01 1012.96C434.07 1015.02 408.74 1013.96 421.64 1003.09C406.94 1008.63 398.64 1003.93 412.53 992.38C421.99 984.54 443.81 977.38 456.25 976.06C456.99 975.39 452.35 979.76 451.47 980.5C450.24 980.85 450.41 979.83 450.69 981.49Z")
    }
    100%{
        d:path("M450.69 981.49C444.95 982.42 424.44 996.49 433.21 1006.07C441.27 1014.87 460.96 1002.76 469.21 1000.38C466.341 1003.85 463.733 1007.52 461.41 1011.38C466.51 1020.89 482.23 1016.45 489.25 1012.84C487.81 1014.66 487.25 1017.7 485.79 1019.6C487.79 1020.09 489.54 1022.33 492.64 1022.46C486.64 1034.23 498.84 1039.15 508.73 1038.52C523.62 1037.52 548.46 1023.41 560.13 1013.94C555.88 1019.27 541.39 1035.56 543.62 1041.45C547.16 1050.78 561.49 1045.08 567.08 1040.32C565.8 1041.87 565 1044 563.83 1045.43C568.66 1047.72 574.83 1045.38 579.7 1043.43C576.91 1046.05 577.05 1048.57 575.81 1050.71C592.31 1049.62 609.81 1040.51 624.81 1033.71C617.81 1036.37 607.81 1046.1 613.74 1052.91C621.85 1062.32 658.47 1047.69 667.59 1042.5C648.59 1051.13 625.23 1063.74 604.15 1066.98C605.15 1065.98 606.48 1064.12 607.81 1062.87C599.6 1067.67 577.76 1076.37 570.56 1067.87C572.65 1065.87 574.23 1062.33 576.94 1060.87C565.2 1065.52 536.56 1076.59 523.43 1072.63C511.91 1069.15 517.15 1060.36 527.78 1054.72C518.87 1057.37 504.12 1062.67 496.23 1057.72C500.294 1053.06 505.297 1049.31 510.91 1046.72C502.14 1050.38 477.79 1060.22 470.32 1051.5C465.11 1045.42 467.22 1039.27 474.74 1036.02C469.28 1037.35 463.89 1039.08 458.47 1038.7C457.11 1035.57 458.47 1037.49 458.38 1035.62C451.32 1038.77 420.38 1048.11 417.38 1033.68C415.65 1025.17 435.52 1014.59 441.01 1012.96C434.07 1015.02 408.74 1013.96 421.64 1003.09C406.94 1008.63 398.64 1003.93 412.53 992.38C421.99 984.54 443.81 977.38 456.25 976.06C456.99 975.39 452.35 979.76 451.47 980.5C450.24 980.85 450.41 979.83 450.69 981.49Z")
    }
}
#splash4{
    animation:changeSplash4 5s linear infinite;
}
@keyframes changeSplash4{
    50%{
        opacity:0.5;
        d:path("M762.63 974.32C750.63 986.44 785.09 980.42 789 979.5C776.82 985.33 786.11 989.3 793.92 985.46C793.25 986.6 798.82 986.35 798 987.5C801.1 987.15 806.38 984.72 809.5 983.5C808.987 984.519 809.665 988.575 809 989.5C815.79 993.27 822.56 991.31 826.87 985.03C826.888 985.717 826.755 986.4 826.48 987.03C830.65 989.44 834.5 983 841.39 986.48C840.11 985.23 846.73 978.54 845.5 977.5C849.472 978.829 850.835 979.756 854 982.5C853.62 981.07 861.69 981.84 862 979.5C869.79 984.22 862.95 989.82 876.5 985.03C869.5 993.15 869.2 999.53 886.5 998.5C886.32 999.4 886.23 1004.66 886 1005.5C891.47 1008.38 889.79 1006.66 896 1007C895.4 1010 884.5 1014.64 881.44 1016.21C882.79 1016.41 878.64 1017.32 880 1017.52C873.76 1021.15 878.64 1020.29 870.58 1020C873.06 1018.77 861.26 1018.83 863.66 1017.52C859.18 1019.1 861.62 1019.71 858.5 1016.21C860.4 1014.71 854.13 1012.16 856.36 1011.02C854.05 1012.02 854.44 1009.62 852.22 1010C852.99 1009 851.56 1008.82 852.22 1007.69C849.8 1007.69 851.29 1005.71 848.27 1006.5C848.95 1005.97 847.27 1005.11 848.03 1004.64C828.26 1008.64 838.93 1008.68 818.5 1011.91C821.91 1006.59 798.43 1011.86 803.45 1007.96C794.26 1008.74 795.39 1010.13 786.22 1007C787.07 1001.69 781.97 999.99 786.22 997.05C777.65 999.46 778.31 999.62 770 997.05C771.69 994.54 763.38 989.6 766.71 988.2C761.422 989.435 760.307 984.565 755.5 982.04C755.34 973.9 766.83 971 774 970C773.24 970.7 764.51 974.2 763.54 974.85C762.56 976.1 762.61 975.55 762.63 974.32Z");
    }
    0%{
        opacity:0.3;
        d:path("M762.63 974.32C750.63 986.44 779.26 981.07 783.17 980.15C770.99 985.98 786.11 989.3 793.92 985.46C793.25 986.6 792.92 988.12 792.1 989.27C795.2 988.92 798.3 989.67 801.42 988.45C800.907 989.469 800.315 990.445 799.65 991.37C806.44 995.14 822.56 991.31 826.87 985.03C826.888 985.717 826.755 986.4 826.48 987.03C830.65 989.44 837.73 989.3 841.39 986.48C840.11 985.23 838.69 983.08 837.46 982.04C841.432 983.369 845.105 985.466 848.27 988.21C847.89 986.78 848.96 983.3 849.27 980.96C857.06 985.68 853.61 994.67 867.16 989.88C860.16 998 853.28 1005.79 870.58 1004.76C870.4 1005.66 870.04 1006.16 869.81 1007C875.28 1009.88 881.4 1008.66 887.61 1009C887.01 1012 884.5 1014.64 881.44 1016.21C882.79 1016.41 884.08 1016.41 885.44 1016.61C879.2 1020.24 864.79 1022.18 856.73 1021.89C859.21 1020.66 861.26 1018.83 863.66 1017.52C859.18 1019.1 853.66 1019.77 850.54 1016.27C852.44 1014.77 854.13 1012.16 856.36 1011.02C854.05 1012.02 852.36 1011.53 850.14 1011.91C850.91 1010.91 851.56 1008.82 852.22 1007.69C849.8 1007.69 847.87 1006.54 844.85 1007.33C845.53 1006.8 847.27 1005.11 848.03 1004.64C828.26 1008.64 809.75 1017.52 789.32 1020.75C792.73 1015.43 798.43 1011.86 803.45 1007.96C794.26 1008.74 783.74 1010.81 774.57 1007.68C775.42 1002.37 781.97 999.99 786.22 997.05C777.65 999.46 767.8 997.48 759.49 994.91C761.18 992.4 763.38 989.6 766.71 988.2C761.422 989.435 755.867 988.725 751.06 986.2C750.9 978.06 760.55 972.2 767.72 971.2C766.96 971.9 764.51 974.2 763.54 974.85C762.56 976.1 762.61 975.55 762.63 974.32Z");
     }
    100%{
        opacity:0.3;
        d:path("M762.63 974.32C750.63 986.44 779.26 981.07 783.17 980.15C770.99 985.98 786.11 989.3 793.92 985.46C793.25 986.6 792.92 988.12 792.1 989.27C795.2 988.92 798.3 989.67 801.42 988.45C800.907 989.469 800.315 990.445 799.65 991.37C806.44 995.14 822.56 991.31 826.87 985.03C826.888 985.717 826.755 986.4 826.48 987.03C830.65 989.44 837.73 989.3 841.39 986.48C840.11 985.23 838.69 983.08 837.46 982.04C841.432 983.369 845.105 985.466 848.27 988.21C847.89 986.78 848.96 983.3 849.27 980.96C857.06 985.68 853.61 994.67 867.16 989.88C860.16 998 853.28 1005.79 870.58 1004.76C870.4 1005.66 870.04 1006.16 869.81 1007C875.28 1009.88 881.4 1008.66 887.61 1009C887.01 1012 884.5 1014.64 881.44 1016.21C882.79 1016.41 884.08 1016.41 885.44 1016.61C879.2 1020.24 864.79 1022.18 856.73 1021.89C859.21 1020.66 861.26 1018.83 863.66 1017.52C859.18 1019.1 853.66 1019.77 850.54 1016.27C852.44 1014.77 854.13 1012.16 856.36 1011.02C854.05 1012.02 852.36 1011.53 850.14 1011.91C850.91 1010.91 851.56 1008.82 852.22 1007.69C849.8 1007.69 847.87 1006.54 844.85 1007.33C845.53 1006.8 847.27 1005.11 848.03 1004.64C828.26 1008.64 809.75 1017.52 789.32 1020.75C792.73 1015.43 798.43 1011.86 803.45 1007.96C794.26 1008.74 783.74 1010.81 774.57 1007.68C775.42 1002.37 781.97 999.99 786.22 997.05C777.65 999.46 767.8 997.48 759.49 994.91C761.18 992.4 763.38 989.6 766.71 988.2C761.422 989.435 755.867 988.725 751.06 986.2C750.9 978.06 760.55 972.2 767.72 971.2C766.96 971.9 764.51 974.2 763.54 974.85C762.56 976.1 762.61 975.55 762.63 974.32Z");}
}
#splash5{
    animation:changeSplash5 7s linear infinite;
}
@keyframes changeSplash5{
    50%{
        d:path("M840.5 991.727C836.5 988.787 854.87 984.04 857.5 984C867.07 983.88 876.62 984.21 884.5 983C883.67 984.78 891.51 989.229 890.5 990.999C899.83 992.229 905.63 989.63 915.01 989.08C915.01 989.291 914.943 989.496 914.819 989.667C914.695 989.837 914.521 989.964 914.32 990.03C919.54 989.92 924.87 989.83 930.02 990.19C928.58 991.25 929.82 992.33 929 993.02C933.17 992.2 934.78 993.54 938.64 995.3C939.09 995.9 937.82 996.72 937.73 997.24C940.18 997.67 942.36 998.79 944.91 998.57C933.59 998.78 944 1002 912.06 1004.01C915.06 1003.19 918.06 1001.63 921.12 1000.76C903.5 1002.5 900.5 1001.5 901.74 998.51C903.263 997.798 904.821 997.167 906.41 996.62C894.5 999.51 893 1000.76 874 999.51C875.35 998.63 876.83 999.58 878.5 998.51C874.29 999.05 869.74 996.41 865.65 995.17C866.8 994.4 868.2 993.17 869.36 992.25C862.77 995.53 854.62 994.17 847.36 994.32C848.116 993.575 849.589 992.793 850.5 992.25C845 994.32 841.86 990.15 839.5 993.02C840.85 990.6 841.33 987.197 840.5 991.727Z");
    }
    0%{
        opacity:1;
        d:path("M838.25 993.21C834.25 990.27 854.25 988.66 856.88 988.62C866.45 988.5 878.34 986.88 888.88 985.79C888.05 987.57 888.02 991.25 887.01 993.02C896.34 994.25 905.63 989.63 915.01 989.08C915.01 989.291 914.943 989.496 914.819 989.667C914.695 989.838 914.521 989.965 914.32 990.03C919.54 989.92 924.87 989.83 930.02 990.19C928.58 991.25 926.66 994.5 925.84 995.19C930.01 994.37 934.78 993.54 938.64 995.3C939.09 995.9 937.82 996.72 937.73 997.24C940.18 997.67 942.36 998.79 944.91 998.57C933.59 998.78 922.91 1001.48 912.06 1004.01C915.06 1003.19 918.06 1001.63 921.12 1000.76C915.12 998.69 908.2 1000.26 901.74 998.51C903.263 997.799 904.821 997.168 906.41 996.62C895.9 995.4 884.13 997.9 874 999.51C875.35 998.63 877.14 996.58 878.81 995.51C874.6 996.05 869.74 996.41 865.65 995.17C866.8 994.4 868.2 993.17 869.36 992.25C862.77 995.53 854.62 994.17 847.36 994.32C848.116 993.575 848.959 992.924 849.87 992.38C845.58 989.89 839.79 990.97 837.43 993.84C838.78 991.42 839.08 988.68 838.25 993.21Z");
     }
    100%{

        d:path("M838.25 993.21C834.25 990.27 854.25 988.66 856.88 988.62C866.45 988.5 878.34 986.88 888.88 985.79C888.05 987.57 888.02 991.25 887.01 993.02C896.34 994.25 905.63 989.63 915.01 989.08C915.01 989.291 914.943 989.496 914.819 989.667C914.695 989.838 914.521 989.965 914.32 990.03C919.54 989.92 924.87 989.83 930.02 990.19C928.58 991.25 926.66 994.5 925.84 995.19C930.01 994.37 934.78 993.54 938.64 995.3C939.09 995.9 937.82 996.72 937.73 997.24C940.18 997.67 942.36 998.79 944.91 998.57C933.59 998.78 922.91 1001.48 912.06 1004.01C915.06 1003.19 918.06 1001.63 921.12 1000.76C915.12 998.69 908.2 1000.26 901.74 998.51C903.263 997.799 904.821 997.168 906.41 996.62C895.9 995.4 884.13 997.9 874 999.51C875.35 998.63 877.14 996.58 878.81 995.51C874.6 996.05 869.74 996.41 865.65 995.17C866.8 994.4 868.2 993.17 869.36 992.25C862.77 995.53 854.62 994.17 847.36 994.32C848.116 993.575 848.959 992.924 849.87 992.38C845.58 989.89 839.79 990.97 837.43 993.84C838.78 991.42 839.08 988.68 838.25 993.21Z");}
}

#bluesplash{
    opacity: 0.8;
    animation: changeBlueSplash 11s linear infinite;
}
@keyframes changeBlueSplash{
    50%{
        d:path("M423.52 997.79C424.97 986.03 467.33 977.73 479.85 972.39C477.18 976.39 473.33 980.56 471.48 984.07C474.57 982.76 478.67 982.96 481.83 981.63C481.38 982.95 480.77 984.27 480.34 985.63C488.17 986.11 423.52 1047 506.18 984.35C479.85 1020.97 526.26 990.88 534.87 991.17C530.44 999.09 520.64 1005.8 513.44 1011.63C521.63 1005.45 521.53 1010.14 530 1004.5C526.562 1009.21 532.546 1005.81 528.39 1009.9C539.81 1006.17 512.57 1028.55 524 1024.74C521.44 1026.53 556.5 1000.73 553.86 1003.12C557.08 1001.71 561.31 1000.89 564.46 999.27C561.262 1002.98 557.433 1006.09 553.15 1008.47C513.44 1070 558.56 1015.1 566.5 1015.2C534.87 1084.5 600.93 1008 609.25 1011.25C605.02 1014.83 601.25 1019.08 601.68 1024.74C607.76 1023.02 611.41 1016.35 618.73 1015.2C615.73 1018.77 615.11 1022.13 613.86 1025.97C615.2 1023.97 617.38 1022.3 618.69 1020.97C617.852 1022.26 617.091 1023.59 616.41 1024.97C625.81 1017.85 574.5 1085.5 658.67 1024.97C656.96 1026.83 655.78 1029.97 653.46 1031.69C657.7 1030 661.79 1029.77 666.2 1028.98C661.71 1037.68 654.27 1050.12 644.99 1055.98C633.48 1063.28 615.53 1063.19 602.8 1060.63C584.64 1056.99 567.1 1059.71 549.29 1055.76C517.17 1048.63 487.22 1035.47 457.71 1022.23C447.71 1017.75 439.2 1013.66 430.59 1006.99C411 991.77 427.59 998.11 423.52 997.79Z");
        }
    0%{
            d:path("M423.52 997.79C424.97 986.03 467.33 977.73 479.85 972.39C477.18 976.39 473.33 980.56 471.48 984.07C474.57 982.76 478.67 982.96 481.83 981.63C481.38 982.95 480.77 984.27 480.34 985.63C488.17 986.11 497.4 988.29 506.18 984.35C510.94 990.81 526.26 990.88 534.87 991.17C530.44 999.09 520.64 1005.8 513.44 1011.63C521.63 1005.45 531.33 1002.33 539.8 996.69C536.362 1001.4 532.546 1005.81 528.39 1009.9C539.81 1006.17 550.31 999.21 561.74 995.4C559.18 997.19 556.5 1000.73 553.86 1003.12C557.08 1001.71 561.31 1000.89 564.46 999.27C561.262 1002.98 557.433 1006.09 553.15 1008.47C561.03 1007.31 569.84 1000.47 577.78 1000.57C587.19 1000.63 600.93 1008 609.25 1011.25C605.02 1014.83 601.25 1019.08 601.68 1024.74C607.76 1023.02 611.41 1016.35 618.73 1015.2C615.73 1018.77 615.11 1022.13 613.86 1025.97C615.2 1023.97 617.38 1022.3 618.69 1020.97C617.852 1022.26 617.091 1023.59 616.41 1024.97C625.81 1017.85 650.04 1015.63 658.67 1024.97C656.96 1026.83 655.78 1029.97 653.46 1031.69C657.7 1030 661.79 1029.77 666.2 1028.98C661.71 1037.68 654.27 1050.12 644.99 1055.98C633.48 1063.28 615.53 1063.19 602.8 1060.63C584.64 1056.99 567.1 1059.71 549.29 1055.76C517.17 1048.63 487.22 1035.47 457.71 1022.23C447.71 1017.75 439.2 1013.66 430.59 1006.99C411 991.77 427.59 998.11 423.52 997.79Z");
        }
    100%{
        d:path("M423.52 997.79C424.97 986.03 467.33 977.73 479.85 972.39C477.18 976.39 473.33 980.56 471.48 984.07C474.57 982.76 478.67 982.96 481.83 981.63C481.38 982.95 480.77 984.27 480.34 985.63C488.17 986.11 497.4 988.29 506.18 984.35C510.94 990.81 526.26 990.88 534.87 991.17C530.44 999.09 520.64 1005.8 513.44 1011.63C521.63 1005.45 531.33 1002.33 539.8 996.69C536.362 1001.4 532.546 1005.81 528.39 1009.9C539.81 1006.17 550.31 999.21 561.74 995.4C559.18 997.19 556.5 1000.73 553.86 1003.12C557.08 1001.71 561.31 1000.89 564.46 999.27C561.262 1002.98 557.433 1006.09 553.15 1008.47C561.03 1007.31 569.84 1000.47 577.78 1000.57C587.19 1000.63 600.93 1008 609.25 1011.25C605.02 1014.83 601.25 1019.08 601.68 1024.74C607.76 1023.02 611.41 1016.35 618.73 1015.2C615.73 1018.77 615.11 1022.13 613.86 1025.97C615.2 1023.97 617.38 1022.3 618.69 1020.97C617.852 1022.26 617.091 1023.59 616.41 1024.97C625.81 1017.85 650.04 1015.63 658.67 1024.97C656.96 1026.83 655.78 1029.97 653.46 1031.69C657.7 1030 661.79 1029.77 666.2 1028.98C661.71 1037.68 654.27 1050.12 644.99 1055.98C633.48 1063.28 615.53 1063.19 602.8 1060.63C584.64 1056.99 567.1 1059.71 549.29 1055.76C517.17 1048.63 487.22 1035.47 457.71 1022.23C447.71 1017.75 439.2 1013.66 430.59 1006.99C411 991.77 427.59 998.11 423.52 997.79Z");}
}
#mask-22 rect{
    transform-origin:center;
    transform-box:fill-box;
    animation:waterflow 6s linear infinite
}
@keyframes waterflow{
    0%{
        opacity:0;
        transform:translate(226.55px,642.75px)
    }
    30%{
        opacity:1;

    }
/*     55%{
        opacity:0.9;
    } */
    50%{
     opacity:1;   
    }
    55%{
        opacity:1;
        transform:translate(126.55px,802.75px)
    }
    100%{
        opacity:0;
        transform:translate(226.55px,742.75px)

    }

}

#mask-42 image{
    /* transform:translateX(812.55px); */
    animation:waterfall 8s linear infinite
}
@keyframes waterfall{
    0%{
        transform: scaleY(0.75) translate(812px, 494.75px);
        opacity:0.1
    }
    20%{
        opacity:1
    }
    90%{
        opacity:0.5
    }
    95%{
        opacity:0.3
    }
    100%{
        transform: scaleY(1.3) translate(812px, 368px);
        opacity:0.1
    }
}
#mask-3 image{
    animation:waterfall2 8s linear infinite

}
@keyframes waterfall2{
    0%{
        transform: scaleY(0.75) translate(1595px, 350.75px);
        opacity:1
    }
    20%{
        opacity:1
    }
    90%{
    }
    95%{
    }
    100%{
        transform: scaleY(1.5) translate(1595px, 228px);
        opacity:0.1
    }
}
#palm,#palm1{
     animation: hands 1s linear infinite;
     transform-box: fill-box;
     transform-origin: bottom right;
}
@keyframes hands{
    0% {
        transform:rotateZ(-10deg);
/*                 d:path("M1436.56,780.999C1431.6 780.967 1430.73 777.466 1428.91 773.89C1427.53 771.183 1426.39 768.086 1423.56 766.62C1419.67 764.531 1411.3 767.395 1409.4 762.011C1409.57 761.691 1409.61 761.62 1409.76 761.318C1415.76 760.819 1423.37 762.029 1428.1 761.642C1427.24 761.836 1422.14 760.334 1420.57 760.223C1418.48 760.074 1413.44 759.213 1413.56 756.2C1420.36 755.327 1426.05 755.625 1432.72 755.923C1435.14 756.05 1435.97 757.247 1438.09 757.821C1439.88 758.32 1441.21 758.312 1443.04 759.258C1445.07 760.31 1446.82 760.652 1448.14 762.45C1449.49 764.361 1451.5 773.553 1451.6 775.79C1451.91 782.705 1448.71 779.812 1442.65 780.708C1440.63 780.959 1438.59 781.057 1436.56 780.999Z"); */
    }
    50%{
        transform: rotateZ(3deg);
/*                 d:path("M1436.12,777.34c-4.42,2.25-6.8-.46-10.06-2.8-2.47-1.77-4.9-4-8.09-4-4.41-.07-10.53,6.32-14.69,2.41,0-.36,0-.44,0-.78,5.1-3.2,12.41-5.62,16.44-8.14-.68.57-5.9,1.58-7.34,2.2-1.93.83-6.8,2.38-8.08-.35,5.64-3.9,10.83-6.25,16.89-9.05,2.21-1,3.5-.32,5.64-.78,1.82-.38,3-1,5.06-1,2.29,0,4-.5,6,.49,2.07,1.08,8.08,8.32,9.2,10.26,3.45,6-.72,4.9-5.69,8.48A40.23,40.23,0,0,1,1436.12,777.34Z") */
    }
    100%{
        transform: rotateZ(-10deg);
/*                 d:path("M1436.12,777.34c-4.42,2.25-6.8-.46-10.06-2.8-2.47-1.77-4.9-4-8.09-4-4.41-.07-10.53,6.32-14.69,2.41,0-.36,0-.44,0-.78,5.1-3.2,12.41-5.62,16.44-8.14-.68.57-5.9,1.58-7.34,2.2-1.93.83-6.8,2.38-8.08-.35,5.64-3.9,10.83-6.25,16.89-9.05,2.21-1,3.5-.32,5.64-.78,1.82-.38,3-1,5.06-1,2.29,0,4-.5,6,.49,2.07,1.08,8.08,8.32,9.2,10.26,3.45,6-.72,4.9-5.69,8.48A40.23,40.23,0,0,1,1436.12,777.34Z") */
    }
    
}
#streamline1{
    /* animation:sl1 8s linear infinite */
}
@keyframes sl1{
    0% {
        transform:translate(0px,0px)
    }
    50%{
        transform:translate(100px,100px)
    }
}
.loginimg{
    clip-path:polygon(1350.92px 684.83px 1416.03px 676.9px 1439.97px 743.85px 1377.8px 760.53px 1350.92px 684.83px)
}
.cls-177{
    fill: #4fc5f0;
    transform-box: fill-box;
    transform-origin: center;
    animation:rl1 4s linear infinite
}
@keyframes rl1{
    0%{
        transform:scale(1);
        opacity:0.6
    }
    100%{
        transform:scale(1);
        opacity:0.6
    }
    50%{
        transform:scale(0.965);
        opacity:0.7
    }
}
#watersplash7,#watersplash3,#watersplash5{
    transform-origin: top;
    animation: multisplash 4s linear infinite;
}
#watersplash6,#watersplash2,#watersplash4{
    transform-origin: top;
    animation: multisplash 5s linear infinite;
}
#watersplash8{
    transform-origin: top;
    animation: multisplash 6s linear infinite;
}

@keyframes multisplash{
    0%{
        transform:translate(0,0);
        opacity:0
    }
    25%{
        opacity:0.5;
    }
    50%{
        transform: translate(-30px,10px);
        opacity:0;
    }
    100%{
        opacity:0
    }
}
#bar1,#bar11,#bar21{opacity:0;
    animation:bars1 3s linear infinite
}
#bar2,#bar12,#bar22{opacity:0;
    animation:bars2 3s linear infinite
}
#bar3,#bar13,#bar23{opacity:0;
    animation:bars3 3s linear infinite
}
#bar21,#bar22,#bar23{
    transform:translate(-70px,650px)
}
@keyframes bars1{
    0%{opacity:0}
    61%{opacity:0}
    66%{opacity:1}
    100%{opacity:1}
}
@keyframes bars2{
    0%{opacity:0}
    28%{opacity:0}
    33%{opacity:1}
    100%{opacity:1}
}
@keyframes bars3{
    0%{opacity:0}
    10%{opacity:1}
/*     66%{opacity:1} */
    100%{opacity:1}
}
#rectGroup{
    clip-path: url(#cylinder)
}
.waterrect{
    transform: translate(610px, 630px);
    width: 60px;
    height: 17px;
    fill: #30ccd8;
    rx: 8;
    ry: 8;
    transform-box:fill-box;
    transform-origin:center;
    opacity:0.7
/*     animation:wrect 5s linear infinite */
}
/* @keyframes wrect{
    100%{
        transform:translateX(70px)
    }
} */

#messagebox{
    animation:message 4s linear infinite;
    transform-box:fill-box;
    transform-origin:bottom left
}
@keyframes message{
    0%{
        transform:scale(0.1) rotate(-40deg)
    }
    25%{
        transform:scale(1) rotate(7deg)
    }
    30%{
        transform:scale(1) rotate(0deg)
    }
}
@media (min-aspect-ratio: 16/9){
    #videoBG{
        width:100%;
        height:auto
    }
}

@media (max-aspect-ratio: 16/9){
    #videoBG{
        width:auto;
        height:100%
    }
}
.cls-40{mask:url(#mask-3);}.cls-172,.cls-41{
    fill: #fff;
}.cls-41{opacity:0.51;}.cls-42{fill:url(#linear-gradient-29);}.cls-43{fill:url(#linear-gradient-30);}.cls-44{fill:url(#linear-gradient-31);}.cls-45{fill:url(#linear-gradient-32);}.cls-46{fill:url(#linear-gradient-33);}.cls-47{fill:url(#linear-gradient-34);}.cls-48{fill:url(#linear-gradient-35);}.cls-49{fill:url(#linear-gradient-36);}.cls-50{fill:url(#linear-gradient-37);}.cls-51{fill:url(#linear-gradient-38);}.cls-52{fill:url(#linear-gradient-39);}.cls-53{fill:url(#linear-gradient-40);}.cls-54{fill:url(#linear-gradient-41);}.cls-55{fill:url(#linear-gradient-42);}.cls-56{fill:url(#linear-gradient-43);}.cls-57{fill:url(#linear-gradient-44);}.cls-58{fill:url(#linear-gradient-45);}.cls-59{mask:url(#mask-4);}.cls-60{mask:url(#mask-5);}.cls-61{fill:url(#linear-gradient-46);}.cls-62{mask:url(#mask-6);}.cls-63{fill:url(#linear-gradient-47);}.cls-64{mask:url(#mask-7);}.cls-65{fill:url(#linear-gradient-48);}.cls-66{mask:url(#mask-8);}.cls-67{fill:url(#linear-gradient-49);}.cls-68{mask:url(#mask-9);}.cls-69{fill:url(#linear-gradient-50);}.cls-70{fill:url(#linear-gradient-51);}.cls-71{fill:url(#linear-gradient-52);}.cls-72{fill:url(#linear-gradient-53);}.cls-73{fill:url(#linear-gradient-54);}.cls-74{fill:url(#linear-gradient-55);}.cls-75{fill:url(#linear-gradient-56);}.cls-76{fill:url(#linear-gradient-57);}.cls-77{fill:url(#linear-gradient-58);}.cls-78{fill:url(#linear-gradient-59);}.cls-79{fill:url(#linear-gradient-60);}.cls-80{fill:url(#linear-gradient-61);}.cls-81{fill:url(#linear-gradient-62);}.cls-82{fill:url(#linear-gradient-63);}.cls-83{fill:url(#linear-gradient-64);}.cls-84{fill:url(#linear-gradient-65);}.cls-85{fill:url(#linear-gradient-66);}.cls-86{fill:url(#linear-gradient-67);}.cls-87{fill:url(#linear-gradient-68);}.cls-88{fill:url(#linear-gradient-69);}.cls-89{fill:url(#linear-gradient-70);}.cls-90{fill:url(#linear-gradient-71);}.cls-91{fill:url(#linear-gradient-72);}.cls-92{fill:url(#linear-gradient-73);}.cls-93{fill:url(#linear-gradient-74);}.cls-94{fill:url(#linear-gradient-75);}.cls-95{fill:url(#linear-gradient-76);}.cls-96{fill:url(#linear-gradient-77);}.cls-97{mask:url(#mask-10);}.cls-98{fill:url(#linear-gradient-78);}.cls-99{fill:url(#linear-gradient-79);}.cls-100{fill:url(#linear-gradient-80);}.cls-101{mask:url(#mask-11);}.cls-102{fill:url(#linear-gradient-81);}.cls-103{fill:url(#Unnamed_Pattern);}.cls-104{mask:url(#mask-12);}.cls-105{mask:url(#mask-13);}.cls-106{fill:#16598a;}.cls-107{fill:url(#linear-gradient-82);}.cls-108{mask:url(#mask-14);}.cls-109{mask:url(#mask-15);}.cls-110{fill:#617bb5;}.cls-111{fill:url(#linear-gradient-83);}.cls-112{mask:url(#mask-16);}.cls-113{fill:url(#linear-gradient-84);}.cls-114{mask:url(#mask-17);}.cls-115{fill:url(#linear-gradient-85);}.cls-116{mask:url(#mask-18);}.cls-117{fill:url(#linear-gradient-86);}.cls-118{mask:url(#mask-19);}.cls-119{fill:url(#linear-gradient-87);}.cls-120{mask:url(#mask-20);}.cls-121{fill:url(#linear-gradient-88);}.cls-122{fill:url(#linear-gradient-89);}.cls-123{mask:url(#mask-21);}.cls-124{fill:url(#linear-gradient-90);}.cls-125{opacity:0.6;}.cls-126{fill:#fff;}.cls-127{mask:url(#mask-22);}.cls-128{fill:url(#linear-gradient-91);}.cls-129{fill:url(#linear-gradient-92);}.cls-130{mask:url(#mask-23);}.cls-131{fill:#060e14;}.cls-132{fill:url(#linear-gradient-93);}.cls-133{fill:url(#linear-gradient-94);}.cls-134{mask:url(#mask-24);}.cls-135{fill:#ffbdab;}.cls-136{fill:url(#linear-gradient-95);}.cls-137{mask:url(#mask-25);}.cls-138{fill:#0d1d2b;}.cls-139{fill:url(#linear-gradient-96);}.cls-140{fill:url(#linear-gradient-97);}.cls-141{fill:url(#linear-gradient-98);}.cls-142{fill:url(#linear-gradient-99);}.cls-143{fill:#1075ba;}.cls-144{mask:url(#mask-26);}.cls-145{fill:#f9a36f;}.cls-146{fill:#03558a;}.cls-147{mask:url(#mask-27);}.cls-148{fill:#142a4e;}.cls-149{mask:url(#mask-28);}.cls-150{mask:url(#mask-29);}.cls-151{mask:url(#mask-30);}.cls-152{mask:url(#mask-31);}.cls-153{fill:#004368;}.cls-154{fill:#c9feff;}.cls-155{fill:#0d2349;}.cls-156{fill:#08588c;}.cls-157{fill:#3289c4;}.cls-158{mask:url(#mask-32);}.cls-159{fill:#001533;}.cls-160{mask:url(#mask-33);}.cls-161{mask:url(#mask-34);}.cls-162{mask:url(#mask-35);}.cls-163{mask:url(#mask-36);}.cls-164{mask:url(#mask-37);}.cls-165{mask:url(#mask-38);}.cls-166{mask:url(#mask-39);}.cls-167{fill:#020d1c;}.cls-168{mask:url(#mask-40);}.cls-169{mask:url(#mask-41);}.cls-170{fill:url(#linear-gradient-100);}.cls-171{mask:url(#mask-42);}.cls-173{mask:url(#mask-43);}.cls-174{fill:#1671a3;}.cls-175{mask:url(#mask-44);}.cls-176{opacity:0.77;mix-blend-mode:color-dodge;}.cls-177{fill:#4fc5f0;}
.cls-453{fill:#ffb31a;}

.oc1{
    fill:url(#lg5)
}
.oc3{
    fill:url(#lg6)
}
.oc2{
    fill:url(#lg34)
}

.cls-bird{
    fill:#000f60
}
.moderateOrange {
    fill: #fcb713;
}
.axes{
    fill:none;
    stroke:white
}
.graphLine{
    fill: none;
    stroke: #fff;
    stroke-miterlimit: 10;
    stroke-width: 3.7663200000000003px;
    transform-origin: bottom;
    transform-box: fill-box;
}
#l11,#l23,#l31{
    animation:gl1 4s linear infinite
}
#l12,#l22,#l34{
    animation:gl2 8s linear infinite
}
#l13,#l24,#l32{
    animation:gl3 3s linear infinite
}
#l14,#l21,#l33{
    animation:gl4 3s linear infinite
}
#flowmeter{
    transform: translate(745px,451px) scale(0.4);
}
@keyframes gl1{
    0%{
        transform:scaleY(0.5)
    }
    50%{
        transform:scaleY(1)
    }
    100%{
        transform:scaleY(0.5)
    }
}
@keyframes gl2{
    0%{
        transform:scaleY(1.3)
    }
    50%{
        transform:scaleY(0.5)
    }
    100%{
        transform:scaleY(1.3)
    }
}
@keyframes gl3{
    0%{
        transform:scaleY(0.2)
    }
    50%{
        transform:scaleY(1)
    }
    100%{
        transform:scaleY(0.2)
    }
}
@keyframes gl4{
    0%{
        transform:scaleY(0.8)
    }
    50%{
        transform:scaleY(1.1)
    }
    100%{
        transform:scaleY(0.8)
    }
}
#tractor{
    animation: tractorMove 10s linear infinite
}
@keyframes tractorMove{
    0%{
        transform:translate(0,0)
    }
    50%{
        transform:translate(60px,-50px)   
    }
    100%{
       transform:translate(0,0)
    }
}
#orangeCloud1{
    animation: cloudLtoR 300s linear infinite
}
#orangeCloud2{
    animation: cloudLtoR 200s linear infinite
}
#orangeCloud3{
    animation: cloudLtoR 120s linear infinite
}
@keyframes cloudLtoR{
    0%{
        transform:translateX(-1600px)
    }
    50%{

    }
    100%{
        transform:translateX(1400px)
    }
}
#ship{
    animation:shipLtoR 100s linear infinite
}
@keyframes shipLtoR{
    0%{
        transform:translateX(-1500px)
    }
    50%{

    }
    100%{
        transform:translateX(1300px)
    }
}
#bird1,#bird2{
    transform-origin:center;
    transform-box:fill-box;
    -webkit-animation-name:fly1, move1;
    -webkit-animation-duration:1s, 10s;
    -webkit-animation-timing-function:linear,linear;
    -webkit-animation-iteration-count: infinite,infinite;
}
#bird2{
    -webkit-animation-duration:1s, 12s;    
}
@keyframes fly1{
    0%{
        transform: translate(0,0);
        d:path("M768 135.42C767.94 138.89 768.83 142.42 767 145.76C765.563 148.492 763.587 150.905 761.19 152.85L759.95 153.85C758.33 155.22 756.48 156.64 757.95 158.68C759.18 160.37 762.05 160.81 762.95 162.68C760.797 162.66 758.684 163.257 756.86 164.4C754.99 165.48 752.7 165.73 750.7 166.51C748.897 167.281 746.903 167.486 744.98 167.1C744.35 166.96 743.69 167.7 744.13 168.63L740.98 169.02C739.74 167.59 742.06 168.14 741.89 167.11C740.64 166.01 738.82 167.38 737.13 166.22C738.309 165.663 739.525 165.188 740.77 164.8C742.23 164.47 743.77 164.16 744.09 162.55C744.48 160.69 742.28 160.92 741.44 160.33C738.89 158.55 736.57 156.46 734 154.7C731.88 153.24 730.47 151.7 727.92 150.7C726.29 149.955 724.852 148.847 723.717 147.46C722.582 146.074 721.779 144.445 721.37 142.7C723.07 144.2 724.67 146.1 726.69 147.34C733.64 151.63 741.85 153.15 748.38 158.34C748.78 158.66 749.09 159.34 749.5 158.41C750.59 155.89 752.87 154.41 754.68 152.56C756.332 151.096 757.749 149.386 758.88 147.49C759.37 146.49 760.08 144.37 762.28 145.99C763.12 146.61 763.73 145.76 763.62 144.73C763.426 143.268 763.524 141.782 763.906 140.358C764.289 138.933 764.95 137.599 765.85 136.43C766.73 136.65 766.82 135 768 135.42Z")
    }
    50%{
        d:path("M780.18 161.889C780.12 165.359 771.33 155.348 769.5 158.688C768.063 161.42 765.396 154.554 763 156.5L762.13 156.239C760.51 157.609 758.66 159.029 760.13 161.069C761.36 162.759 762.05 160.81 762.95 162.68C760.797 162.66 758.684 163.257 756.86 164.4C754.99 165.48 752.7 165.73 750.7 166.51C748.897 167.281 746.903 167.486 744.98 167.1C744.35 166.96 743.69 167.7 744.13 168.63L740.98 169.02C739.74 167.59 742.06 168.14 741.89 167.11C740.64 166.01 738.82 167.38 737.13 166.22C738.309 165.663 739.525 165.188 740.77 164.8C742.23 164.47 743.77 164.16 744.09 162.55C744.48 160.69 744.28 166.81 743.44 166.22C740.89 164.44 736.57 163.65 734 161.89C731.88 160.43 732.05 164.84 729.5 163.84C727.87 163.095 723 177.5 724 171.72C725 165.941 718.909 174.745 718.5 173C720.2 174.5 722 158.45 726.5 156C732.5 154.89 741.85 153.15 748.38 158.34C748.78 158.66 749.09 159.34 749.5 158.41C750.59 155.89 755.05 156.799 756.86 154.949C758.512 153.485 759.869 154.896 761 153C761.49 152 767.3 153.329 769.5 154.949C770.34 155.569 772.29 156.269 772.18 155.239C771.986 153.777 772.297 157.314 772.68 155.889C773.063 154.465 778.28 160.558 779.18 159.389C780.06 159.609 779 161.469 780.18 161.889Z")        
    }
    100%{
         d:path("M768 135.42C767.94 138.89 768.83 142.42 767 145.76C765.563 148.492 763.587 150.905 761.19 152.85L759.95 153.85C758.33 155.22 756.48 156.64 757.95 158.68C759.18 160.37 762.05 160.81 762.95 162.68C760.797 162.66 758.684 163.257 756.86 164.4C754.99 165.48 752.7 165.73 750.7 166.51C748.897 167.281 746.903 167.486 744.98 167.1C744.35 166.96 743.69 167.7 744.13 168.63L740.98 169.02C739.74 167.59 742.06 168.14 741.89 167.11C740.64 166.01 738.82 167.38 737.13 166.22C738.309 165.663 739.525 165.188 740.77 164.8C742.23 164.47 743.77 164.16 744.09 162.55C744.48 160.69 742.28 160.92 741.44 160.33C738.89 158.55 736.57 156.46 734 154.7C731.88 153.24 730.47 151.7 727.92 150.7C726.29 149.955 724.852 148.847 723.717 147.46C722.582 146.074 721.779 144.445 721.37 142.7C723.07 144.2 724.67 146.1 726.69 147.34C733.64 151.63 741.85 153.15 748.38 158.34C748.78 158.66 749.09 159.34 749.5 158.41C750.59 155.89 752.87 154.41 754.68 152.56C756.332 151.096 757.749 149.386 758.88 147.49C759.37 146.49 760.08 144.37 762.28 145.99C763.12 146.61 763.73 145.76 763.62 144.73C763.426 143.268 763.524 141.782 763.906 140.358C764.289 138.933 764.95 137.599 765.85 136.43C766.73 136.65 766.82 135 768 135.42Z")
 
    }
}
@keyframes move1{
    0%{
        transform:translate(-100px,-100px) scale(1.4)
    }
    100%{
        transform:translate(200px,100px) scale(0)
    }
}

#bird3{
    transform-origin:center;
    transform-box:fill-box;
     -webkit-animation-name:fly2, move2;
    -webkit-animation-duration:5s, 12s;
    -webkit-animation-timing-function:linear,linear;
    -webkit-animation-iteration-count: infinite,infinite;
}
@keyframes fly2{
    0%{
        d:path("M840.926 262.065C840.593 261.633 840.099 262.077 839.872 262.247C837.428 264.339 834.213 264.264 831.435 265.405C830.01 265.828 828.541 266.086 827.058 266.174C825.698 266.409 824.487 267.294 823.142 267.45C822.645 267.415 822.154 267.319 821.679 267.166C821.012 267.207 820.348 267.296 819.692 267.432C819.09 267.384 818.503 267.222 817.962 266.953C816.413 266.363 814.824 265.888 813.206 265.529C811.567 265.21 809.927 264.892 808.298 264.575C807.464 264.413 806.629 264.251 805.785 264.087C805.402 264.012 803.593 263.885 803.399 263.572C803.696 264.037 803.726 264.145 803.789 264.188C803.922 264.264 804.065 264.323 804.214 264.362C808.037 265.155 811.725 266.496 815.165 268.345C816.562 269.125 816.74 269.415 815.491 270.282C814.667 270.856 815.435 271.199 815.481 271.645C815.472 271.762 815.497 271.879 815.552 271.983C815.607 272.086 815.69 272.172 815.791 272.23C815.893 272.288 816.009 272.316 816.126 272.311C816.243 272.306 816.356 272.268 816.453 272.201C817.915 271.018 819.42 271.82 820.919 271.969C822.247 272.105 823.746 271.367 823.927 270.068C824.261 267.668 826.07 267.429 827.812 267.115C830.381 266.687 832.999 266.636 835.573 266.077C837.52 265.651 839.708 265.292 840.752 263.121C840.917 262.847 841.185 262.41 840.926 262.065Z")
    }
    10%{
        d:path("M853.843 270.312C853.51 269.88 850.727 270.032 850.5 270.202C847.5 269.733 849.019 268.891 844.5 268.283C843.027 268.084 842 267.5 842 267.5C842 267.5 837.486 265.294 836.141 265.451C835.644 265.415 835.153 265.32 834.678 265.166C834.011 265.208 833.346 265.297 832.691 265.432C832.089 265.385 831.502 265.222 830.961 264.953C829.412 264.364 829.782 263.64 828.164 263.281C827.959 262.252 824 260.5 824 260.5C823.165 260.338 822.416 259.389 821.571 259.225C821.189 259.15 819.38 259.023 819.186 258.71C819.482 259.175 819.512 259.283 819.575 259.326C819.709 259.403 819.851 259.461 820 259.5C823.823 260.293 824.724 264.497 828.164 266.345C829.561 267.126 829.739 267.415 828.49 268.283C827.666 268.856 828.434 269.199 828.48 269.646C828.471 269.763 828.496 269.88 828.55 269.983C828.605 270.087 828.689 270.172 828.79 270.23C828.892 270.289 829.008 270.317 829.125 270.312C829.242 270.306 829.355 270.268 829.452 270.202C830.914 269.019 832.419 269.821 833.918 269.969C835.246 270.105 836.745 269.368 836.926 268.069C837.26 265.668 841 268.5 841 268.5C842 268.932 841.5 270 843.5 270.5C843.8 270.34 846.2 272.001 851.5 271.501C851.665 271.227 854.102 270.658 853.843 270.312Z")
    }
    90%{
        d:path("M853.843 270.312C853.51 269.88 850.727 270.032 850.5 270.202C847.5 269.733 849.019 268.891 844.5 268.283C843.027 268.084 842 267.5 842 267.5C842 267.5 837.486 265.294 836.141 265.451C835.644 265.415 835.153 265.32 834.678 265.166C834.011 265.208 833.346 265.297 832.691 265.432C832.089 265.385 831.502 265.222 830.961 264.953C829.412 264.364 829.782 263.64 828.164 263.281C827.959 262.252 824 260.5 824 260.5C823.165 260.338 822.416 259.389 821.571 259.225C821.189 259.15 819.38 259.023 819.186 258.71C819.482 259.175 819.512 259.283 819.575 259.326C819.709 259.403 819.851 259.461 820 259.5C823.823 260.293 824.724 264.497 828.164 266.345C829.561 267.126 829.739 267.415 828.49 268.283C827.666 268.856 828.434 269.199 828.48 269.646C828.471 269.763 828.496 269.88 828.55 269.983C828.605 270.087 828.689 270.172 828.79 270.23C828.892 270.289 829.008 270.317 829.125 270.312C829.242 270.306 829.355 270.268 829.452 270.202C830.914 269.019 832.419 269.821 833.918 269.969C835.246 270.105 836.745 269.368 836.926 268.069C837.26 265.668 841 268.5 841 268.5C842 268.932 841.5 270 843.5 270.5C843.8 270.34 846.2 272.001 851.5 271.501C851.665 271.227 854.102 270.658 853.843 270.312Z")
    }
    100%{
        d:path("M840.926 262.065C840.593 261.633 840.099 262.077 839.872 262.247C837.428 264.339 834.213 264.264 831.435 265.405C830.01 265.828 828.541 266.086 827.058 266.174C825.698 266.409 824.487 267.294 823.142 267.45C822.645 267.415 822.154 267.319 821.679 267.166C821.012 267.207 820.348 267.296 819.692 267.432C819.09 267.384 818.503 267.222 817.962 266.953C816.413 266.363 814.824 265.888 813.206 265.529C811.567 265.21 809.927 264.892 808.298 264.575C807.464 264.413 806.629 264.251 805.785 264.087C805.402 264.012 803.593 263.885 803.399 263.572C803.696 264.037 803.726 264.145 803.789 264.188C803.922 264.264 804.065 264.323 804.214 264.362C808.037 265.155 811.725 266.496 815.165 268.345C816.562 269.125 816.74 269.415 815.491 270.282C814.667 270.856 815.435 271.199 815.481 271.645C815.472 271.762 815.497 271.879 815.552 271.983C815.607 272.086 815.69 272.172 815.791 272.23C815.893 272.288 816.009 272.316 816.126 272.311C816.243 272.306 816.356 272.268 816.453 272.201C817.915 271.018 819.42 271.82 820.919 271.969C822.247 272.105 823.746 271.367 823.927 270.068C824.261 267.668 826.07 267.429 827.812 267.115C830.381 266.687 832.999 266.636 835.573 266.077C837.52 265.651 839.708 265.292 840.752 263.121C840.917 262.847 841.185 262.41 840.926 262.065Z")
    }
}
@keyframes move2{
    0%{
        transform:translate(-200px,-200px) scale(1.5)
    }
    100%{
        transform:translate(200px,100px) scale(0.1)
    }
}